/** Basic styles */
a 
{
    color: #FF6600;
}

a:hover 
{
    color: #FF6600;
    text-decoration: underline;
}

a:visited 
{ 
    color: #FF6600;
}

p 
{
	font-size: 95%;
    line-height: 1.5em;
}

h2, .h2 {
	font-size: 2.05rem;
}

h5
{
	font-size: 110%;
	font-weight: bold;
}

h6
{
	font-size: 95%;
	font-weight: normal;
}

li
{
	font-size: 95%;
}

img.logo
{
	opacity: 0.9; filter: 
	alpha(opacity=90);
}

/** Forms */

.form-block
{
	width: 80%; 
	margin-bottom: 24px;
}

.form-col-right
{
	margin-left: 1em;
}

.form-control
{
	font-size: 95% !important;	
}

.form-control::-moz-placeholder {
	font-size: 95% !important;	
}

.form-control:-ms-input-placeholder {
	font-size: 95% !important;	
}

.form-control::-webkit-input-placeholder {
	font-size: 95% !important;	
}

.checkbox label, .radio label, label {
	font-size: 95% !important;	
}

.btn.btn-primary {
    color: #fff;
    background-color: #FF6600;
    border-color: #FF6600;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
}

.page-header {
    height: 310px;
}

/** Navigation bar */

.navbar-brand
{
	font-size: 115% !important;
}

#brand-img
{
	height: 24px;
	opacity: 0.75;
	filter: alpha(opacity=75);
	margin-left: 0px;
	margin-right: 9px;
	margin-bottom: 2px;
}

.navbar .navbar-nav .nav-item .nav-link 
{
	font-size: 95% ;
}

.nav-item a:hover 
{
    color: #FF6600 !important;
}

.nav-item a:active 
{
    color: #FF6600 !important;
}

.static-top 
{
    border-radius: 0;
}

.section 
{
  padding: 30px 0;
}

.footer-text
{
	font-size: 75% !important;
}

/** Classification Index page */

ul.classification
{
	margin-left: 10px;
	text-align: left
}

li.classification
{
	font-size: 95%;
}

/** Search Input Page */

input:-internal-autofill-selected 
{
    background-image: none !important;
    background-color: none !important;
}


/** Search Results Page */

div.results-container
{
	margin-top: 16px; 
	padding-top: 12px;
	margin-bottom: 1.4em;
	text-align: left;
	clear: both; 
	border-top: 1.5px solid rgba(0, 0, 0, 0.2); 
}

p.search-result
{
	font-size: 95%;
	margin-top: 13px;
	margin-bottom: 0px;
}

div.search-result-meta
{
  font-size: 95%;
  padding-bottom: 3px;
}

a.result-title
{
	color: #FF6600;
}

ul.search-snippets
{
	color: #000000;
}

li.snippet-text
{
	color: #000000;
	font-size: 95%;
	word-wrap: break-word;
}

span.highlight
{
	color: #9c27b0;
}

span.highlight2
{
	color: blue;
}

/* Search Pagination */

.pagination 
{
    padding: 0;
    padding-top: 10px;
}

.pagination>.page-item.active>a,
.pagination>.page-item.active>a:focus,
.pagination>.page-item.active>a:hover,
.pagination>.page-item.active>span,
.pagination>.page-item.active>span:focus,
.pagination>.page-item.active>span:hover {
	background-color: #ff9800;
	border-color: #FF6600;
	color: #fff;
	box-shadow: 0 4px 5px 0 rgba(156, 39, 176, 0.14), 0 1px 10px 0 rgba(156, 39, 176, 0.12), 0 2px 4px -1px rgba(156, 39, 176, 0.2);
}

pagination>.page-item.active>a, .pagination>.page-item.active>a:focus, .pagination>.page-item.active>a:hover, .pagination>.page-item.active>span, .pagination>.page-item.active>span:focus, .pagination>.page-item.active>span:hover 
{
  background-color: #9c27b0;
  border-color: #9c27b0;
}  

.pagination li {
  color: #4485b3;
  display: inline;
}

.pagination li a, .pagination li a:hover {
  color: #4485b3;
}

.page-current
{
	color: black !important;
	font-weight: bold;
}

a.pagination-prev,
a.pagination-next 
{
    margin: 0;
}

/** Volume and Segment Viewer */

table.table-meta
{
	border: 1px solid #e0dbd2 !important;
	margin-top: 0.5em;
}

td.meta
{
	font-size: 95%;
	line-height: 1.25;
}

a.act
{
    /* color: cornflowerblue */
	color: #9c27b0;
    font-weight: bold;
}

a.act:hover 
{
    /* color: cornflowerblue */
	color: #9c27b0;
    text-decoration: underline;
    font-weight: bold;
}

a.act:visited 
{ 
    /* color: cornflowerblue */
	color: #9c27b0;
    font-weight: bold;
}

div.act
{
  margin: 6px;
  margin-left: 0px;
  padding: 6px;
  padding-left: 2px;
  padding-right: 16px;
  text-align: center !important; 
}

div.act-large
{
  float: right; 
  margin-top: 3px;
}

i.act
{
  font-size: 1.6rem; 
  /* color: cornflowerblue; */
  color: #9c27b0;
  vertical-align: middle;
}
p.act
{
  padding-top: 6px;
  text-align: center !important;
  font-size: 80% !important;
}

i.act-large
{
  font-size: 2.0rem; 
  /* color: cornflowerblue; */
  color: #9c27b0;
  vertical-align: middle;
}


/** Segment Viewer */

div.segment-text
{
  line-height: 1.65;
  border-top: 0;
  border-bottom: 1px solid #e5e5e5;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0em;
  margin-bottom: 1.0em;
  padding: 0em;
  padding-top: 0.7em;
  padding-bottom: 1.5em;
  width: 100%;
}

li.page-item
{
	margin: 6px;
}


table.dataTable, table.dataTable th, table.dataTable td 
{
	text-align: left;
    box-sizing: content-box;
}

/** Catalogue */

.pull-left
{
	float:left!important;
}

.pull-right
{
	float:right!important;
}

table.dataTable.display tbody tr.odd 
{
    background-color: #E0DBD2;
}

table.dataTable.display tbody tr.even 
{
    background-color: #ECE7DD;
}

table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 
{
    background-color: #E0DBD2;
}

table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.oevendd>.sorting_1 
{
    background-color: #ECE7DD;
}

.dataTables_wrapper .dataTables_filter input 
{
    background-color: #ECE7DD;
    border: 0;
    border-bottom: 2px solid #D2D2D2;
    color: #777;
    margin-left: 1em;    
}

/** Lexicons */

td.lex
{
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
}

.message
{
	font-weight: bold;
	color: red !important;
	padding-top: 2px;
	padding-bottom: 0px;
}

table.table-recommendations
{
	margin-top: 1.5em;
	margin-bottom: 2.5em;
}

table.table-words
{
	margin-top: 1em;
	margin-bottom: 1.5em;
	width: 100%; 
	font-size: 95%;
}

td.lex-word
{
	border: 1px solid #aaa;
	background-color: rgba(0, 0, 0, 0.05);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	line-height: 24px;
	vertical-align: middle;
}


/** Export */

img.export
{
	float: right; 
	margin-top: 3px;
	vertical-align: bottom; 
	width: 52px; 
	opacity: 0.75; 
	filter: alpha(opacity=75);
}

table.table-corpora
{
	margin-top: 1.3em;
	margin-bottom: 2.7em;
	border-bottom: 1px solid #f0f0f0;
}

ul.subcorpus
{
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 18px;
}

/** Login styles */


.container-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;    
}

.container-logininput {
    margin-top: 0px;
    width: 390px;
    padding-top: 0px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 20px;
}

.container-loginbutton {
    width: 390px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.input-login
{
    width: 100%;
    font-size: 105% !important;
    position: relative;
    height: 68px;
    padding: 0 25px 0 25px;
}

.text-login
{
    font-size: 105% !important;
    padding-bottom: 13px;
}

/** Updated VICTEUR style */

body
{
	color: #000000;
}

.navbar 
{
    margin-bottom: 0px;
    color: #0a0a0a;
    background: #E6D7C1;
    background: linear-gradient(0deg, rgba(230,215,193,0.95), rgba(207,180,139,0.7) 100%);
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 5px;
}

.brandname
{
	border-bottom: 6px solid #fff; 
	padding-bottom: 7px; 
	margin-bottom: 4px;
}

.main
{
	background: #ece7dd;
}

label 
{
	color: #444;
}

select
{
	color: #777;
}

input
{
	color: #777;
}

.form-control
{
	color: #777;
}

.filter
{
	color: #777;
}

img.victeurlogo
{
	width: 400px; 
	margin-bottom: 0.9em;
}
