{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block headcustom %}
<style>
  #nav-link-about
  {
    color: #FF6600 !important;
  }
  h5.division
  {
    margin-top: 16px; margin-bottom: 8px; text-align: left;
  }
  ul.features
  {
    list-style: none; padding-left: 0; margin-top: 12px;
  }
  ul.features li
  {
    margin-bottom: 10px; text-align: left;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="section text-center">
  	<h2>About Curatr</h2>
    <h5 class="division">Project Overview</h5>
    <p class="text-justify"><i>Curatr</i> is a bespoke online platform designed to improve the accessibility of the
      <a href="https://doi.org/10.21250/db14" target="_blank">British Library Nineteenth Century Digitised Books Collection</a>
      (BL19). The collection is provided by British Library Labs and was developed by the ERC-funded
      <a href="https://projectvicteur.com/" target="_blank">VICTEUR project</a> at
      <a href='http://www.ucd.ie/englishdramafilm/' target='_blank'>UCD English, Drama and Film</a>, in collaboration with
      researchers at the <a href='http://www.insight-centre.org/' target='_blank'>Insight Research Ireland Centre for Data Analytics</a>
      as part of Insight's Cultural Analytics Research Initiative. The platform hosts digitised plain-text versions of all
      English-language books from the collection, corresponding to 35,884 unique out-of-copyright English language titles, both fiction and
      non-fiction, from 1700 to 1899. Accounting for multi-volume works, this totals over forty-six thousand volumes of text.</p>

    <p class="text-justify">The platform combines search tools and visual network maps to bring overlooked texts to light and
      reveal connections between related terms and ideas across the collection. By integrating machine learning techniques into
      literary scholarship, Curatr opens BL19 to a range of scholarly approaches through multiple entry points, making it
      accessible to researchers without specialist training in digital humanities. The platform also incorporates the first
      digitised version of the topical classification index used by the British Library from the early nineteenth century to 1985.
      Since legibility varies in earlier texts, the platform is also designed to help researchers locate and evaluate relevant
      titles before consulting them in person at the Library.</p>

    <h5 class="division">Platform Features</h5>
    <p class="text-justify">Curatr provides a range of tools for searching, browsing, and analysing the collection:</p>

    <ul class="features">
      <li><strong><a href="{{ url_for('handle_search') }}">Collection Search</a></strong>: a searchable index of over 12 million pages,
        filterable by author, title, year, classification, publication location, and document type, with sorting by relevance, date, or title.</li>
      <li><strong><a href="{{ url_for('handle_classification') }}">Classification Index</a></strong>: a browsable version of the hierarchical
        topical index used by the British Library from 1823 to 1985, from broad categories such as "Fiction" and "Geography" down to
        more fine-grained sub-topics.</li>
      <li><strong><a href="{{ url_for('handle_catalogue') }}">Catalogue</a></strong>: a sortable and searchable table of all books in the
        collection, browsable by title, author, and year of publication.</li>
      <li><strong><a href="{{ url_for('handle_authors') }}">Authors</a></strong>: browse the collection by author, with links to all
        associated volumes.</li>
      <li><strong><a href="{{ url_for('handle_ngrams') }}">Ngram Viewer</a></strong>: plot the frequency of one or more words across the
        collection over time, with the option to click through to the corresponding search results for any given year. Results can be
        exported as a CSV file.</li>
      <li><strong><a href="{{ url_for('handle_networks') }}">Semantic Networks</a></strong>: visualise conceptual relationships in the
        collection by constructing interactive semantic networks from seed words, with associated words identified using word embedding
        models. Networks can be exported in GEXF format for further analysis.</li>
      <li><strong><a href="{{ url_for('handle_concordance') }}">Concordance</a></strong>: identify every occurrence of a particular word
        or phrase within the collection, presented alongside its immediate linguistic context. Available to registered users.</li>
      <li><strong><a href="{{ url_for('handle_lexicon') }}">Word Lexicons</a></strong>: create and manage curated lists of keywords
        related to a given research topic. Lexicons can be expanded automatically using a word embedding model to suggest semantically
        similar terms, and used to drive searches and sub-corpus exports. Available to registered users.</li>
      <li><strong><a href="{{ url_for('handle_corpora') }}">Sub-Corpora</a></strong>: define and export smaller, topic-specific
        sub-corpora of the collection, filtered thematically, chronologically, and by classification, for closer reading and
        offline analysis. Available to registered users.</li>
    </ul>

    <h5 class="division">Tutorials</h5>
    <p class="text-justify">A series of short instructional videos from VICTEUR project researchers on the use and functionality of Curatr is
      <a href="https://projectvicteur.com/2023/01/10/curatr-videos/" target="_blank">available on the VICTEUR project website</a>.</p>

    <h5 class="division">Citing Curatr</h5>
    <p class="text-justify">
      If you use Curatr in an academic publication, we would appreciate citations to the following paper:
      <p class="text-left" style="margin-left: 20px;">Leavy, S., Meaney, G., Wade, K. and Greene, D. (2019) <i>Curatr: A Platform for Semantic Analysis and Curation of Historical Literary Texts</i>, in <i>Proceedings of the 13th International Conference on Metadata and Semantics Research (MTSR 2019)</i> (pp. 354-366). Springer International Publishing.&nbsp;&nbsp;<a title="Download Paper PDF" href="{{staticprefix}}/paper/leavy19curatr.pdf" target="_blank">[PDF]</a>&nbsp;<a title="Download BibTeX reference" href="{{staticprefix}}/paper/leavy19curatr.bib" target="_blank">[BibTeX]</a>&nbsp;<a title="Download RIS reference" href="{{staticprefix}}/paper/leavy19curatr.ris" target="_blank">[RIS]</a></p>
    </p>
    <p class="text-justify">
      If you wish to cite a specific version of a text identified on the Curatr platform, we recommend the following citation format:
      <p class="text-left" style="margin-left: 20px;">Dickens, C. (1892) <i>The Old Curiosity Shop</i>. Available at: curatr.ucd.ie (Accessed: 28 June 2025).</p>
<!--       If you wish to cite a specific version of a text identified on the Curatr platform, we recommend the following citation format:
      <p class="text-left" style="margin-left: 20px;">Dickens, C. (1892) <i>The Old Curiosity Shop</i>. Available at: curatr.ucd.ie, UIN: BLL01002043707 (Accessed: 28 June 2023).</p>
 -->    </p>
    <h5 class="division">Acknowledgements</h5>
    <p class="text-justify">
        This work is part of the <a href="https://projectvicteur.com/" target="_blank">VICTEUR project</a>, which has received funding from the <a target="_blank" href="https://erc.europa.eu/">European Research Council (ERC)</a> under the European Union's Horizon 2020 research and innovation programme (grant agreement No 884951), and is being undertaken by members of the <a href="http://www.ucd.ie/englishdramafilm/" target="_blank">UCD School of English, Drama and Film</a>, in collaboration with researchers from the <a href="http://www.insight-centre.org/" target="_blank">Insight Research Ireland Centre for Data Analytics</a> at the <a href="https://www.ucd.ie/cs/" target="_blank">UCD School of Computer Science</a>.
        The BL19 digitised book collection was provided by British Library Labs. For more details, please contact us via <a href="mailto:ucdcuratr@gmail.com">e-mail</a>.
        Curatr by <a href="https://cca.ucd.ie/" target="_blank">UCD Centre for Cultural Analytics</a> is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Creative Commons BY-NC-ND 4.0 Licence</a>. Background image created by <a href="https://www.flickr.com/photos/stevecadman/486263551" target="_blank">Steven Cadman</a>.
    </p>
    <p style="align: center; margin-top: 1.8em;">
        <a target="_blank" href="https://european-union.europa.eu"><img src="{{staticprefix}}/img/logo-eu.png" class="logo" style="width: 120px; margin-right: 50px;" alt="EU Flag"/></a>
        <a target="_blank" href="http://erc.europa.eu"><img src="{{staticprefix}}/img/logo-erc.png" class="logo" style="width: 132px; margin-right: 35px;" alt="ERC Logo"/></a>
        <a target="_blank" href="https://www.researchireland.ie"><img src="{{staticprefix}}/img/logo-ri.png" class="logo" style="width: 160px; margin-right: 10px;" alt="Research Ireland Logo"/></a>
        <a target="_blank" href="http://www.ucd.ie/"><img src="{{staticprefix}}/img/logo-ucd.png" class="logo" style="width: 130px;" alt="UCD Logo"/></a>
    </p>
 </div>

</div>

{% endblock %}
