{% extends "layout.html" %}
{% block title %}Administration{% endblock %}

{% block headcustom %}
<script type="text/javascript" src="{{staticprefix}}/assets/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{staticprefix}}/assets/css/jquery.dataTables.min.css">
<script type="text/javascript">
$(document).ready(function()
{
    $('#users').DataTable({
        "pageLength": 20,
        "lengthChange": false,
        "order": [[ 0, "desc" ]],
        "columnDefs": [
            { "orderable": false, "searchable": false, "targets": 5 }
        ]
    });
});
</script>
<!-- Ensure we include the custom styles after the other JQuery CSS files -->
<link href="{{staticprefix}}/css/default.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container form-page-container">
  <div class="section" style="padding-bottom: 14px;">
    <div class="text-center">
      <h2>System Administration</h2>
    </div>
    <div class="callout callout-primary">
        <dl class="row mb-0">
            <dt class="col-sm-2">System start time</dt>
            <dd class="col-sm-10">{{ start_time }}</dd>
            <dt class="col-sm-2">Solr status</dt>
            <dd class="col-sm-10 mb-0">{{ solr_status }}</dd>
        </dl>
    </div>
    <h5 style="margin-top: 26px; margin-bottom: 18px;">Registered Users:</h5>
    <p>{{ num_users }} users are registered on this system. Filter by email using the search box, sort by any column, or click the edit icon to update a user's account.</p>
    <table id="users" class="display" style="width:100%; font-size:95%;">
        <thead>
            <tr>
                <th style="width:6%;" class="text-left">ID</th>
                <th style="width:32%;" class="text-left">Email</th>
                <th style="width:21%;" class="text-left">Created</th>
                <th style="width:21%;" class="text-left">Last Login</th>
                <th style="width:12%;" class="text-left"># Logins</th>
                <th style="width:8%;" class="text-center">Edit</th>
            </tr>
        </thead>
    <tbody>
    {{ userlist }}
    </tbody>
    </table>
    <!-- Create New Users -->
    <h5 style="margin-top: 26px; margin-bottom: 18px; border-top: 1px solid #e5e5e5; padding-top: 16px;">Create New Users:</h5>
    <p class="text-justify" style="margin-top: 18px; margin-bottom: 18px;">Add one or more new users to the <i>Curatr</i> system.
    To create multiple users at once, input a list of email addresses separated by commas.</p>
    <div class="form-card" style="margin-bottom: 27px;">
    <form id="search" method="get" action="{{prefix}}/usercreate">
      <div class="form-block">
        <div class="form-group">
          <label for="emails">Email Address(es)</label>
          <input id="emails" name="emails" type="email" class="form-control mr-sm-2" placeholder="Email(s)" style="width: 100%;">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
    </div>
  </div>
</div>

{% endblock %}
