<!DOCTYPE html>
<html lang="en">
    <head>
        {%metas%}
        <title>{%title%}</title>
        <meta property="title" content="Curatr: Exploration and Curation of Historical Texts">
        <meta name="description" content="Curatr: Exploration and Curation of Historical Texts - University College Dublin">
        <meta property="og:title" content="Curatr: Exploration and Curation of Historical Texts">
        <meta property="og:description" content="Curatr: Exploration and Curation of Historical Texts - University College Dublin">
        <meta name="author" content="Derek Greene">
        <meta name="robots" content="noindex">
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
        {%css%}
    </head>
    <body>
        {%app_entry%}
        <footer>
            {%config%}
            {%scripts%}
            {%renderer%}
        </footer>
    </body>
</html>
