{% extends "layout.html" %} 
{% block title %}Authors{% endblock %} 
{% block headcustom %}    
	<style>#nav-link-authors { color: #FF6600 !important; }</style>
	<script type="text/javascript" language="javascript" src="{{staticprefix}}/assets/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{staticprefix}}/assets/css/jquery.dataTables.min.css">
    <script type="text/javascript" class="init">
    $(document).ready(function() 
    {
        /** initialize the catalogue table */
        var table = $('#catalogue').DataTable( {
            "pageLength": 20,
            "lengthChange":false,
            "ajax": {
                url: "{{apiprefix}}/authors",
                cache: true
            },
            "columns": [
                { "data": "author_id", "visible" : false },
                { "data": "author_name", "visible" : false },
                { "data": "sort_name", "className": 'dt-body-left'},
                { "data": "count", "className": 'dt-body-center', "searchable": false },
                { "data": "start_year", "className": 'dt-body-center', "searchable": false },
                { "data": "end_year", "className": 'dt-body-center', "searchable": false }
            ],
            "order": [[ 3, "desc" ]]
        } ); 

        
        $('#catalogue tbody').on('click', 'tr', function () 
        {
            var data = table.row( this ).data();
            var author_id = data.author_id;
            window.location.href = "{{prefix}}/author?author_id=" + author_id;
        } );  
                 
    } );
    </script>    
    <!-- Ensure we include the custom styles after the other JQuery CSS files -->
    <link href="{{staticprefix}}/css/default.css" rel="stylesheet">   
{% endblock %}

{% block content %}
<div class="container">
  <div class="section text-center" style="padding-bottom: 10px;">
    <h2>Authors</h2>
        <p class="text-justify">The table below contains a list of the {{ author_count }} authors relating to English language texts dating from {{ year_min }} to {{ year_max }}. You can use the search box on the right-hand side to filter the author list. Clicking a row will list all volumes by the corresponding author.</p>
    </div>

    <table id="catalogue" class="display" style="width:100%; font-size:95%;">
        <thead>
            <tr>
                <th>Author Id</th>
                <th>Author Name</th>
                <th>Name</th>
                <th>Count</th>
                <th>Start Year</th>
                <th>End Year</th>
            </tr>
        </thead>
    </table>
{% endblock %} 
