{% extends "layout.html" %} 
{% block title %}Author {{ author_id }} - Similar Volumes{% endblock %} 
{% block headcustom %}    
<style>#nav-link-authors { color: #FF6600 !important; }</style>
{% endblock %} 

{% block content %}
    <div class="container">
      <div class="section text-center">
        <h2>Author Volumes</h2>
		<p class="left-justify">{{ summary }}</p>
		<hr style="margin-top: 12px; margin-bottom: 16px;">

		<div class="results-container">
		    {{ results }}
		</div>

		<nav aria-label="Pagination">
		    <ul class="pagination justify-content-center text-xs-center">
		        {{ pagination }}
		    </ul>
		</nav>

      </div>
    </div>
{% endblock %} 
