<h2>Account Login</h2>
<div class="container-login">
    <div class="center-block">
        <form class="form-signin" method="post" action="{{prefix}}/login">
            <div class="text-center container-logininput">
                <input type="email" id="email" name="email" class="form-control input-login" placeholder="Email" required autofocus>
            </div>
            <div class="container-logininput">
                <input type="password" id="password" name="password" class="form-control input-login" placeholder="Password" required>
            </div>
            <div class="container-loginbutton" style="padding-bottom: 7px;">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
            </div>
        </form>
        <div class="container-loginbutton" style="padding-top: 7px;">
            <button class="btn btn-lg btn-primary btn-block" onclick="location.href='mailto:ucdcuratr@gmail.com?subject=Curatr';">Request Account</button>
        </div>
    </div>
</div>
