<h2>Curatr &mdash; Sign In</h2>
    <p class="text-justify"><i>Curatr</i> is an online platform designed to improve the accessibility of the <a href="https://doi.org/10.21250/db14" target="_blank" rel="noopener noreferrer">British Library Nineteenth Century Digitised Books Collection</a> (BL19) for humanities scholars. The collection comprises {{ num_books }} unique English-language titles, both fiction and non-fiction, spanning {{ year_min }} to {{ year_max }}. The platform offers comprehensive search functionality by keyword, author, category, and date.
    Instructional videos on using <i>Curatr</i> are <a href="https://projectvicteur.com/2023/01/10/curatr-videos/" target="_blank" rel="noopener noreferrer">available on the VICTEUR project website</a>. For more details on <i>Curatr</i>, see the <a href="{{ url_for('handle_about') }}">About page</a> or contact us via <a href="mailto:ucdcuratr@gmail.com">email</a>.
    </p>
    <p class="text-left">Please sign in below if you have an existing account, or request a free account to access <i>Curatr</i>:</p>
<div class="container-login">
    <div class="center-block">
        <form class="form-signin" method="post" action="{{prefix}}/login">
            <div class="container-logininput">
                <input type="email" id="email" name="email" class="form-control input-login" placeholder="Email" required autofocus>
            </div>
            <div class="container-logininput">
                <input type="password" id="password" name="password" class="form-control input-login" placeholder="Password" required>
            </div>
            <div class="container-loginbutton" style="padding-bottom: 7px;">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
            </div>
        </form>
        <div class="container-loginbutton" style="padding-top: 7px;">
            <a class="btn btn-lg btn-primary btn-block" href="mailto:ucdcuratr@gmail.com?subject=Curatr">Request Account</a>
        </div>
    </div>
</div>
