<h2> 
{% if require_login %} 
    Welcome &mdash; {{ current_user.email }} 
{% else %}
    Curatr
{% endif %} 
</h2>

<p class="text-justify"><i>Curatr</i> is an online platform which provides access to the <a href="https://www.bl.uk/collection-guides/digitised-printed-books" target="_blank">British Library Digital Collection</a>, corresponding to over thirty-five thousand unique titles, both fiction and non-fiction, from 1700 to 1899. The platform is specifically designed for humanities scholars to use without the need for extensive technical training and offers comprehensive search functionality by keyword, author, category, and date.</p>
<p class="text-justify"><i>Curatr</i> includes keyword and lexicon search functions, which help locate your research topics within little known or very long, unwieldy texts. It also supports the development and export of sub-corpora, defined thematically, chronologically and by classification. The development of this system addresses the requirements for online document curation without the need for extensive technical training. See <a href="https://projectvicteur.com/2023/01/10/curatr-videos/" target="_blank">here for videos</a> on the use and functionality of Curatr.</p>
<hr>
<p class="text-justify">This project has received funding from the <a target="_blank" href="https://erc.europa.eu/">European Research Council (ERC)</a> under the European Union’s Horizon 2020 research and innovation programme (grant agreement No 884951) and is based at <a target="_blank" href="https://www.ucd.ie/">University College Dublin</a>. The project is being undertaken by members of the <a href='http://www.ucd.ie/englishdramafilm/' target='_blank'>UCD English, Drama and Film</a>, in collaboration with researchers from the <a href='http://www.insight-centre.org/' target='_blank'>SFI Insight Centre for Data Analytics</a> at UCD. For more details, please contact us via <a href="mailto:ucdcuratr@gmail.com">email</a> or follow us on <a href="https://twitter.com/Victeurproject" target="_blank">Twitter</a>.</p> 
<p style="align: center; margin-top: 1.8em;">            
    <a target="_blank" href="https://european-union.europa.eu"><img src="{{staticprefix}}/img/logo-eu.png" class="logo" style="width: 120px; margin-right: 50px;" alt="EU Flag"/></a>
    <a target="_blank" href="http://erc.europa.eu"><img src="{{staticprefix}}/img/logo-erc.png" class="logo" style="width: 132px; margin-right: 35px;" alt="ERC Logo"/></a>
    <a target="_blank" href="http://www.sfi.ie/"><img src="{{staticprefix}}/img/logo-sfi.png" class="logo" style="width: 136px; margin-right: 10px;" alt="SFI Logo"/></a>
    <a target="_blank" href="http://www.ucd.ie/"><img src="{{staticprefix}}/img/logo-ucd.png" class="logo" style="width: 130px;" alt="UCD Logo"/></a>
</p>
