<h2>Curatr &mdash; Sign In</h2>
    <p class="text-justify"><i>Curatr</i> is an online platform which provides access to the <a href="https://www.bl.uk/collection-guides/digitised-printed-books" target="_blank">British Library Digital Collection</a>, corresponding to over thirty-five thousand unique titles, both fiction and non-fiction, from 1700 to 1899. The platform is specifically designed for humanities scholars and offers comprehensive search functionality by keyword, author, category, and date. 
    See <a href="https://projectvicteur.com/2023/01/10/curatr-videos/" target="_blank">here for videos</a> on the use and functionality of Curatr.
    </p>
    <p class="text-left">Please sign in below if you have an existing account, or request an account to access Curatr:</p>
<div class="container-login">
    <div class="center-block">
        <form class="form-signin" method="post" action="{{prefix}}/login">
            <div class="text-center container-logininput">
                <input type="email" id="email" name="email" class="form-control input-login" placeholder="Email" required autofocus>
            </div>
            <div class="container-logininput">
                <input type="password" id="password" name="password" class="form-control input-login" placeholder="Password" required>
            </div>
            <div class="container-loginbutton" style="padding-bottom: 7px;">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
            </div>
        </form>
        <div class="container-loginbutton" style="padding-top: 7px;">
            <button class="btn btn-lg btn-primary btn-block" onclick="location.href='mailto:ucdcuratr@gmail.com?subject=Curatr';">Request Account</button>
        </div>
    </div>
</div>
