{% extends "layout.html" %}
{% block title %}Bookmarks{% endblock %}
{% block headcustom %}
<style>#nav-link-bookmarks { color: #FF6600 !important; }</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="section" style="padding-bottom: 14px;">
        <h2 style="text-align: center;">Bookmarks</h2>
        <p>
        {% if numvolumebookmarks + numsegmentbookmarks == 0 %}
        Currently you have no bookmarks saved.
        {% endif %}
        To bookmark a volume or segment, click the &#8216;Add Bookmark&#8217; link on its page.
        Bookmarks appear in the relevant list below for easy access later.</p>
        <h5 style="margin-top: 21px; margin-bottom: 18px;"><a id="volbookmarks">Volume Bookmarks</a></h5>
        <table id="volbookmarks-table" class="table table-striped table-corpora" style="width:100%; font-size:95%;">
            <thead>
                <tr>
                    <th style="width:15%;" class="text-left">Created</th>
                    <th style="width:69%;" class="text-left">Title</th>
                    <th style="width:8%;" class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
            {% if numvolumebookmarks == 0 %}
                <tr><td colspan="3">No volume bookmarks saved</td></tr>
            {% else %}
                {{ volumebookmarks }}
            {% endif %}
            </tbody>
        </table>

        <h5 style="margin-top: 21px; margin-bottom: 18px;"><a id="segbookmarks">Segment Bookmarks</a></h5>
        <table id="segbookmarks-table" class="table table-striped table-corpora" style="width:100%; font-size:95%;">
            <thead>
                <tr>
                    <th style="width:15%;" class="text-left">Created</th>
                    <th style="width:69%;" class="text-left">Title</th>
                    <th style="width:8%;" class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
            {% if numsegmentbookmarks == 0 %}
                <tr><td colspan="3">No segment bookmarks saved</td></tr>
            {% else %}
                {{ segmentbookmarks }}
            {% endif %}
            </tbody>
        </table>
        <br>
    </div>
</div>

{% endblock %}
