{% extends "layout.html" %} 
{% block title %}Classification Index{% endblock %} 
{% block headcustom %}    
<style>#nav-link-classification { color: #FF6600 !important; }</style>
{% endblock %} 

{% block content %}
    <div class="container">
      <div class="section text-center">
        <h2>Classification Index</h2>

        <p class="text-justify">
            From 1823 to the 1980s, the British Library used a topical index of pressmarks
            indicating the physical arrangement of books on its shelves. This classification
            index is organised across several levels of granularity, from broad top-level
            categories (e.g. "Fiction", "Geography", "Medicine") down to more specific
            topics (e.g. "Geography" → "Ireland and Scotland"). Using a combination of OCR
            text recognition and manual annotation, we have digitised the higher levels of
            the index. Browse volumes within these categories by clicking the links below.</p>
        <div class="text-left">
            <p>Top level classification of English language books:</p>
            <ul class="classification">
                {{ classification }}
            </ul>
        </div>
        <div class="text-left">
            <p>The second, more granular level of classification has also been digitised.
                Of the {{ num_subclasses }} categories at this level, the
                {{ num_top_subsubclassifications }} most common are:</p>
            <ul class="classification">
                {{ subclassification }}
            </ul>
        </div>
      </div>

    </div>

{% endblock %} 
