{% extends "layout.html" %} 
{% block title %}Concordance{% endblock %} 
{% block headcustom %}    
<style>#nav-link-concordance { color: #FF6600 !important; }</style>
{% endblock %} 

{% block content %}
<div class="container">
	<div class="section text-center" style="padding-bottom: 14px;">
		<h2>Concordance</h2>
		<p class="text-justify">Concordance analysis provides the capability to find all instances of a specific word or phrase
			within the {{ num_segments }} short text segments from the English-language books in the British Library Digital Collection,
			presenting each result alongside its immediate linguistic context. 
		</p>
	</div>
	<form id="search" method="get" action="{{prefix}}/concordance">
		<input type="hidden" id="action" name="action" value="concordance">
		<input type="hidden" id="suggest" name="suggest" value="True">
		<div class="form-block">		
			<div class="form-group">
				<label for="qwords">Keyword / Keyphrase</label>
	            <input name="qwords" type="search" class="form-control mr-sm-2" placeholder="Enter a single keyword or phrase" aria-label="Search" size="32" value="{{ query }}" style="width: 80%;">
			</div>
		</div>

		<div class="form-row form-block">
			<div class="col">			
				<label for="class">Classification</label>
		        <select class="form-control dropdown" id="class" name="class">
		            {{ class_options }}
		        </select>
			</div>
			<div class="col form-col-right">				
				<label for="subclass">Sub-classification</label>
		        <select class="form-control dropdown" id="subclass" name="subclass">
		            {{ subclass_options }}
		        </select>
			</div>
		</div>		

		<div class="form-row form-block">
			<div class="col">			
				<label for="year_start">Start Year</label>
				<input type="text" class="form-control filter" name="year_start" id="year_start" value="{{year_start}}" placeholder="Start YYYY" size="10" value="">
			</div>
			<div class="col form-col-right">				
				<label for="year_end">End Year</label>
				<input type="text" class="form-control filter" name="year_end" id="year_end" value="{{year_end}}" placeholder="End YYYY" size="10" value="" >				
			</div>
		</div>

		<div class="form-row form-block">
			<div class="col">
				<label for="location">Publication Location</label>
		        <select class="form-control dropdown" id="location" name="location">
		            {{ location_options }}
		        </select>
			</div>
			<div class="col form-col-right">				
				<label for="location">Sort By</label>
		        <select class="form-control dropdown" id="sort" name="sort">
					<option value="year-asc" {{selected_sort_year_asc}}>Year (Oldest First)</option>
					<option value="year-desc" {{selected_sort_year_desc}}>Year (Newest First)</option>
				</select>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Analyse</button>
	</form>    
	<br/> 
</div>

{% endblock %} 

