{% extends "layout.html" %}
{% block title %}Word Lexicon - {{ lexicon_name }}{% endblock %}
{% block headcustom %}
<style>#nav-link-lexicon { color: #FF6600 !important; }</style>
{% endblock %}

{% block content %}
<div class="container">
	<div class="section" style="padding-bottom: 14px;">
		<h2 style="text-align: center;">Edit Lexicon</h2>

		<div class="message">{{ message }}</div>
		<h5 style="margin-top: 12px; margin-bottom: 18px;"><a href="{{ prefix }}/lexicon">Your Lexicons</a> / {{ lexicon_name }}</h5>
		<p>{{ lexicon_summary }}</p>
		<table id="keywords" class="table-words">
			<tbody>
			{{ lexicon_words }}
			</tbody>
		</table>
		<p>The following additional words were recommended based on word co-occurrence in the collection. Add any that are relevant to expand your lexicon.</p>
	    <table id="recommendations" class="table table-striped table-recommendations" style="width:100%; font-size:95%;">
	        <thead>
	            <tr>
	                <th style="width:15%;" class="text-left">Recommended Word</th>
	                <th style="width:50%;" class="text-left">Explanation</th>
	                <th style="width:8%;" class="text-center">Accept</th>
	                <th style="width:8%;" class="text-center">Reject</th>
	            </tr>
	        </thead>
	        <tbody>
		{{ recommendations }}
	        </tbody>
	    </table>
	    <p>Download <a href="{{ export_url }}">lexicon as plain text</a>.</p>
	    <br>
	</div>
</div>
{% endblock %}
