{% extends "layout.html" %}
{% block title %}Word Lexicons{% endblock %}
{% block headcustom %}
<style>
  #nav-link-lexicon { color: #FF6600 !important; }
  #lexicons td { vertical-align: top; }
  #lexicons td:nth-child(4),
  #lexicons td:nth-child(5),
  #lexicons td:nth-child(6),
  #lexicons td:nth-child(7) { vertical-align: middle; }
</style>
{% endblock %}

{% block content %}
<div class="container">
	<div class="section" style="padding-bottom: 14px;">
	    <!------------------------------------------------------>
		<h2 style="text-align: center;">Word Lexicons</h2>
		<p class="text-justify"><i>Word lexicons</i> are lists of keywords around a topic, used to search the BL19 collection and define sub-corpora. A lexicon can be expanded using keywords recommended based on word co-occurrence in the collection.</p>

		<div class="message">{{ message }}</div>
		<h5 style="margin-top: 12px; margin-bottom: 18px;">Your Lexicons</h5>
	    <table id="lexicons" class="table table-striped" style="width:100%; font-size:95%;">
	        <thead>
	            <tr>
	                <th style="width:13%;" class="text-left">Name</th>
	                <th style="width:23%;" class="text-left">Description</th>
	                <th style="width:35%;" class="text-left">Keywords</th>
	                <th style="width:8%;" class="text-center">Edit</th>
	                <th style="width:8%;" class="text-center">Delete</th>
	                <th style="width:8%;" class="text-center">Search</th>
	                <th style="width:8%;" class="text-center">Visualise</th>
	            </tr>
	        </thead>
	        <tbody>
			{{ lexlist }}
	        </tbody>
	    </table>
	    <!------------------------------------------------------>
		<h5 style="margin-top: 26px; margin-bottom: 18px; border-top: 1px solid #e5e5e5; padding-top: 16px;">Create New Lexicon</h5>
		<p class="text-justify" style="margin-top: 18px; margin-bottom: 18px;">Alternatively, create a new lexicon below by adding one or more seed keywords.</p>
		<form id="search" method="get" action="{{ prefix }}/lexicon" style="margin-left: 10px; margin-right: 10px;">
			<input type="hidden" id="action" name="action" value="create">

			<div class="form-block">		
				<div class="form-group">
					<label for="name">Lexicon Name</label>
		            <input id="name" name="name" type="text" class="form-control mr-sm-2" placeholder="Enter lexicon name" size="20" style="width: 50%;">
				</div>
			</div>

			<div class="form-block">		
				<div class="form-group">
					<label for="description">Lexicon Description</label>
		            <input id="description" name="description" type="text" class="form-control mr-sm-2" placeholder="Enter lexicon description" size="40" style="width: 90%;">
				</div>
			</div>

			<div class="form-block">		
				<div class="form-group">
					<label for="class">Classification</label>
			        <select class="form-control dropdown" id="class" name="class" style="width: 50%;">
			            {{ class_options }}
			        </select>
				</div>
			</div>

			<div class="form-block">		
				<div class="form-group">
					<label for="words">Initial Lexicon Keywords</label>
		            <input id="words" name="words" type="text" class="form-control mr-sm-2" placeholder="Enter one or more seed keywords" size="40" style="width: 90%;">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Create</button>
		</form>
	    <!------------------------------------------------------>
	</div>
</div>

{% endblock %}
